@charset "UTF-8";

                * {
            margin: 0px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }

        ::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }
        body {
            width: 100vw;
            height: 100vh;
            background: black url(assets/image/tela-home.jpg) no-repeat top center;
            background-size: cover;
        }
        img {
            width: 100vh;

        }
        a {
            display: block;
            background-color: darkred;
            color: white;
            padding: 20px;
            text-align: center;
         font-weight: bolder;
         text-decoration: none;

        }
        a:hover {
            background-color: red;
        }
